@use 'variables';

@mixin center-flex($direction: row,$main: center, $cross: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $main;
    align-items: $cross;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body, html {
    height: 100%;
}
a, a:visited{
    color: variables.$lightColor;
    text-decoration: none;
}
li{
    list-style: none;
    display: inline-block
}
svg{
    transition: all 0.6s;
    cursor: pointer;
}
svg:hover{
    transform: scale(1.2);
}

.App{
    @include center-flex(column, flex-start);
    height: 100%;
}
//generic classes
.icon-btn{
    background-color: transparent;
    border: 0;
}

//icon classes
.logout-btn{
    color: variables.$lightColor;
    font-size: 120%;
    position: absolute;
    top: 1%;
    right: 0.5%;
    border: 1px solid variables.$lightColor;
    border-radius: 5px;
}
//navbar
.navBar{
    @include center-flex(column, space-between, flex-start);
    min-height: variables.$navBarHeight;
    width: 100%;
    background-color:variables.$secondColor;
    z-index: 3;
}
.navBarSimple {
    justify-content: center;
    h1{
        margin: 0;
    }
}
h1{
    margin: 0;
    color: variables.$lightColor;
    box-sizing: border-box;
    margin-top: 12px;
    padding: 0 variables.$lateralPadding;
}
.menu,.searchBarContainer {
    @include center-flex(row, space-between, flex-end);
    width: 100%;
    padding: 0 variables.$lateralPadding;
    justify-self: flex-end;
    box-sizing: border-box;
    margin: 0 0 12px 0;
    font-size: 1.4rem;
    color: variables.$lightColor;

}
.rightSide{
    justify-self: flex-end;
    @include center-flex();
    gap: 12px;
}
.categories {
    padding: 0;
    margin: 0;
    li{
        cursor: pointer;
        transition: 0.3s;
    }
    li:hover{
        color:variables.$thirdColor;
    }
}
li{
    padding-right: 5px;
}
.activeCategory{
    color: variables.$thirdColor;
}
.searchBarContainer {
    box-sizing: border-box;
    color: variables.$secondColor;
    background-color: variables.$lightColor;
    margin: 0;
    padding: 6px variables.$lateralPadding;
    z-index: 1;
    box-shadow: 0 4px 5px -5px gray;
}
.searchBar{
    box-sizing: border-box;
    padding: 6px;
    border-radius: 5px;
    background-color: #fff;
    margin: 3px 0;
    width: 25%;
}
.searchBarExtras{
    display: flex;
    gap: 8px;
    align-self: center;
}
.popoverFilter{
    box-sizing: border-box;
}
.filterOptions{
    color: variables.$darkColor;
    padding: 8px;
}
//signup and login section
.signContainer{
    @include center-flex(column, flex-start);
    box-sizing: border-box;
    height: variables.$fullHeight;
    padding-top: 48px;
}
.signForm{
    @include center-flex(column,flex-start,flex-start);
}

//************************************************* REUSABLES **********************************************************
.linksContainer {
    @include center-flex();
    gap: 12px;
}
.madeContainer {
    @include center-flex();
    p {
        margin: 0;
    }
}



// layout
.productsLayout{
    width:100%;
    background-color: variables.$lightColor;
    min-height: variables.$fullHeight;
    box-sizing: border-box;
    padding: 0 variables.$lateralPadding;
    padding-top: 12px;
    @include center-flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    gap: 12px;
}
.productView {
    box-sizing: border-box;
    //revisar la transicion si queda bien
    transition: all 0.3s;
    background-color: whitesmoke;
    display: flex;
    height: 220px;
    &:hover {
        cursor: pointer;
        p:first-of-type{
            transition: 0.4s;
            color: variables.$secondColor;
            transform: scale(1.025);
        }
    }
}
.productList{
    width: 100%;
}
.productGrid{
    //temporal, revisar lo que pasa cuando son menos de cuatro productos, se ve feo
    width: 24%;
    aspect-ratio: 1/1;
    flex-direction: column;
}
.productImgContainer{
    height: 100%;
}
.productImg {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.productInfo{
    margin-left: 12px;
    p{
        margin: 0;
    }
    p:first-of-type {
        font-size: 200%;
        margin: 12px 0;
    }
    p:not(:first-of-type) {
        margin: 8px 0;
    }
}

//product dialog, es la vista en detalle del producto
.productCard{
    // height: 90vh;
    @include center-flex(row,flex-start,flex-start);
    p{
        margin: 0;
    }
}
.closeBtn {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 300%;
    &:hover{
        transform: none;
    }

}
.productDetailImg{
    height: 500px;
    aspect-ratio: 1/1;
}
.productDetails{
    margin-left: 12px;
    width: 100%;
    & > * {
        color: variables.$darkColor;
    }
}
.productDetailCategory{
    font-size: 100%;
}
.productDetailName{
    margin: 0;
    font-size: 3rem;
    margin-bottom: 24px;
    color: variables.$darkColor;
    font-weight: normal;
}
.productDetailColors{
    p{
        font-size: 140%;
        margin-right:12px;
        margin-bottom: 12px;
    }
}
.productDetailAmount{
    p{
        font-size: 140%;
    }
}
.productDetailDescr{
    p:first-of-type{
        font-size: 140%;
        margin-bottom: 12px;
    }
}
.colorBtn{
    margin-right:8px;
    margin-bottom: 8px;
    background-color: #fff;
    border: 0;
    font-size: 140%;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}
.activeColorBtn{
    transition: all 0.2s;
    background-color: variables.$secondColor;
    color: variables.$lightColor;
}

.addToCartBtn{
    margin-top: 24px;
    border:0;
    background-color: variables.$secondColor;
    color: variables.$lightColor;
    font-size: 140%;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.7s;
    &:hover{
        transform: scale(1.03);
    }
}

//las partes del prod card que ve el admin
.editIconContainer{
    @include center-flex();
    border-left: 2px solid black;
    padding: 0 24px;
    margin-left: auto;
}
.prodModIcons{
    margin-left: auto !important;
    height: 100%;
    align-self: center;
    display: flex;
    margin-left: 12px;
    height: 50%;
    svg{
        vertical-align: middle;
        align-self: center;
        margin: 0 6px;
    }
}
.editBtn{
    color: variables.$thirdColor;//temporal, revisar color
}
.deleteBtn{
    color: red; //temporal, revisar color
}

//cart prod items

.cartProdItem{
    border: 1px solid black;//temporal, borrar despues
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
}

.cartProdAmount{
    display: flex;
    button{
        height: 50%;
        align-self: center;
        margin: 0 6px;
        border-radius: 5px;
        border: 0;
        background-color: variables.$darkColor;
        color: variables.$lightColor;
    }
}


//new product
.newProductContainer{
    height: variables.$fullHeight;
    padding-top: 12px;
    width: 100%;
    @include center-flex(row, space-evenly, flex-start);
}

//enumFields
.enumFieldsContainer{

}
.enunmFieldsInput{

}

.enumFieldsFields{
    @include center-flex(row,flex-start,flex-start);
    flex-wrap: wrap;
}

.enumField{
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
}
.activeFieldToUpdate{
    border: 1px solid lightcoral;
}

//footer

footer{
    box-sizing: border-box;
    @include center-flex(row, space-between, center);
    height: variables.$footerHeight;
    width: 100%;
    background-color: variables.$mainColor;
    padding: 0 12px;
}