@use 'variables';
@use 'reusables';

@mixin center-flex($direction: row,$main: center, $cross: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $main;
    align-items: $cross;
}
@mixin floating-box($blurPx: 55px){
    border-radius: 10px;
    background-color: variables.$lightColorShade;
    box-shadow: 8px 15px $blurPx -5px gray;
}
@mixin section-height() {
    height: variables.$fullHeight;    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body, html {
    height: 100%;
}
a, a:visited{
    color: variables.$lightColor;
    text-decoration: none;
}
li{
    list-style: none;
    display: inline-block
}
svg{
    transition: all 0.6s;
    cursor: pointer;
    vertical-align: middle;
}
svg:hover{
    transform: scale(1.2);
}

.App{
    @include center-flex(column, flex-start);
    min-height: 100vh;
}
//generic classes
.icon-btn{
    background-color: transparent;
    border: 0;
}
//carousel
// .swiper{
//     width: 100%;
// }
.swiper-slide{
    height: auto !important;
}

//icon classes
.logout-btn{
    color: variables.$lightColor;
    font-size: 120%;
    position: absolute;
    top: 1%;
    right: 0.5%;
    border: 1px solid variables.$lightColor;
    border-radius: 5px;
}
//navbar
.navBar{
    @include center-flex(column, space-between, flex-start);
    min-height: variables.$navBarHeight;
    width: 100%;
    background-color:variables.$secondColor;
    z-index: 3;
}
.navBarSimple {
    justify-content: center;
    h1{
        margin: 0;
    }
}
h1{
    margin: 0;
    color: variables.$lightColor;
    box-sizing: border-box;
    margin-top: 12px;
    padding: 0 variables.$lateralPadding;
}
.menu,.searchBarContainer {
    @include center-flex(row, space-between, flex-end);
    width: 100%;
    padding: 0 variables.$lateralPadding;
    justify-self: flex-end;
    box-sizing: border-box;
    margin: 0 0 12px 0;
    font-size: 1.4rem;
    color: variables.$lightColor;

}
.rightSide{
    justify-self: flex-end;
    @include center-flex();
    gap: 12px;
}
.categories {
    padding: 0;
    margin: 0;
    li{
        cursor: pointer;
        transition: 0.3s;
    }
    li:hover{
        color:variables.$thirdColor;
    }
}
li{
    padding-right: 5px;
}
.activeCategory{
    color: variables.$thirdColor;
}
.searchBarContainer {
    color: variables.$secondColor;
    background-color: variables.$lightColor;
    margin: 0;
    padding: 6px variables.$lateralPadding;
    z-index: 1;
    box-shadow: 0 4px 5px -5px gray;
}
.searchBar{
    box-sizing: border-box;
    padding: 6px;
    border-radius: 5px;
    background-color: #fff;
    margin: 3px 0;
    width: 25%;
}
.searchBarFilterInfo{
    box-sizing: border-box;
    background-color: variables.$lightColor;
    @include center-flex(row, flex-start, flex-start);
    gap: 12px;
    width: 100%;
    overflow: hidden;
    padding: 0 variables.$lateralPadding;
    max-height: 0;
    transition: all 0.7s ease;
}
.searchBarFilterInfo.active{
    max-height: 200px;
    padding: 0 variables.$lateralPadding;
    padding-top: 12px;
    padding-bottom: 0;
}
.activeFilter{
    margin: 0;
    border-radius: 5px !important;
    padding: 1px 3px;
    background-color: variables.$lightColorShade;
    @include floating-box();
    button{
        border: none;
        padding: 0 0 5px 3px;
        background-color: transparent;
        font-size: 75%;
        vertical-align: middle;
    }
}
.searchBarExtras{
    display: flex;
    gap: 8px;
    align-self: center;
}
.popoverFilter{
    box-sizing: border-box;
    width: 100%;
}
.filterOptions{
    color: variables.$darkColor;
    padding: 8px;
    // width: 50%;
}
.filterTitle{
    margin-bottom: 0;
    font-weight: bold;
}
//signup and login section
.signContainer{
    @include center-flex(column, flex-start);
    box-sizing: border-box;
    height: variables.$fullHeight;
    padding-top: 48px;
}
.signForm{
    @include center-flex(column,flex-start,flex-start);
}

//************************************************* REUSABLES **********************************************************
.linksContainer {
    @include center-flex();
    gap: 12px;
}
.madeContainer {
    @include center-flex();
    p {
        margin: 0;
    }
}



// layout
.productsLayout{
    width:100%;
    background-color: variables.$lightColor;
    box-sizing: border-box;
    padding: variables.$lateralPadding;
    @include center-flex(row, flex-start, flex-start);
    @include section-height();
    flex: 1;
    flex-wrap: wrap;
    gap: 12px;
}
.productView {
    box-sizing: border-box;
    //revisar la transicion si queda bien
    transition: all 0.3s;
    background-color: whitesmoke;
    display: flex;
    height: 220px;
    @include floating-box(20px);
    &:hover {
        cursor: pointer;
        p:first-of-type{
            transition: 0.4s;
            color: variables.$secondColor;
            transform: scale(1.025);
        }
    }
    position: relative;
}
.productList{
    width: 100%;
}
.productGrid{
    //temporal, revisar lo que pasa cuando son menos de cuatro productos, se ve feo
    width: 15%;
    height: auto;
    aspect-ratio: 1/1;
    flex-direction: column;
    .editIconContainer{
        box-sizing: border-box;
        border-radius: 10px;
        border: none;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 10;
        padding: 6px;
        margin: 0;
        @include floating-box();
        background-color: variables.$darkColorOpacity;
    }
    .productInfo{
        margin: 0 12px;
        p:first-of-type{
            margin: 0;
        }
    }
}
.productImgContainer{
    height: 100%;
}
.productImg {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.productInfo{
    margin-left: 12px;
    flex: 1;         // Permite que se expanda/reduce en el layout flex
    min-width: 0;    // Crucial: permite que el contenido se reduzca y se active el overflow
    p{
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
    }
    p:first-of-type {
        font-size: variables.$titleFontSize;
        margin: 12px 0;
    }
    p:not(:first-of-type) {
        margin: 8px 0;
    }
}

//product dialog, es la vista en detalle del producto
.productCard{
    // height: 90vh;
    @include center-flex(row,flex-start,flex-start);
    p{
        margin: 0;
    }
}
.closeBtn {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 300%;
    &:hover{
        transform: none;
    }

}
.productDetailImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.productDetails{
    margin-left: 12px;
    width: 100%;
    & > * {
        color: variables.$darkColor;
    }
}
.productDetailCategory{
    font-size: 100%;
}
.productDetailName{
    margin: 0;
    font-size: 3rem;
    margin-bottom: 24px;
    color: variables.$darkColor;
    font-weight: normal;
}
.productDetailColors{
    p{
        font-size: 140%;
        margin-right:12px;
        margin-bottom: 12px;
    }
}
.productDetailAmount{
    p{
        font-size: 140%;
    }
}
.productDetailDescr{
    p:first-of-type{
        font-size: 140%;
        margin-bottom: 12px;
    }
}
.colorBtn{
    margin-right:8px;
    margin-bottom: 8px;
    background-color: #fff;
    border: 0;
    font-size: 140%;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}
.activeColorBtn{
    transition: all 0.2s;
    background-color: variables.$secondColor;
    color: variables.$lightColor;
}

.addToCartBtn{
    margin-top: 24px;
    border:0;
    background-color: variables.$secondColor;
    color: variables.$lightColor;
    font-size: 140%;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.7s;
    &:hover{
        transform: scale(1.03);
    }
}

//las partes del prod card que ve el admin
.editIconContainer{
    @include center-flex();
    border-left: 2px solid black;
    padding: 0 24px;
    margin-left: auto;
    font-size: calc(variables.$titleFontSize * 2);
}
.prodModIcons{
    margin-left: auto !important;
    height: 100%;
    align-self: center;
    display: flex;
    margin-left: 12px;
    height: 50%;
    svg{
        vertical-align: middle;
        align-self: center;
        margin: 0 6px;
    }
}
.editBtn{
    color: variables.$thirdColor;//temporal, revisar color
}
.deleteBtn{
    color: red; //temporal, revisar color
}

//cart prod items
.cartContainer{
    @include center-flex(row, space-between, flex-start);
    width: 100%;
    flex: 1;
    gap: variables.$lateralPadding;
    box-sizing: border-box;
    padding: variables.$lateralPadding;
}
.cartProducts{
    @include center-flex(column, flex-start, flex-start);
    width: 70%;
    gap: 12px;
    @include floating-box();
}
.cartProdItem{
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cartProdInfoLeft{}
.cartProdInfoRight{
    display: flex;
    flex-direction: column;
}

.cartProdAmount{
    display: flex;
    height: 50%;
    button{
        padding: 3px 9px;
        align-self: center;
        margin: 0 6px;
        border-radius: 15px;
        border: 0;
        background-color: variables.$secondColor;
        color: variables.$lightColor;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.7s;
        &:hover{
            transform: scale(1.1);
        }
    }
}
.cartProdTotalAmount{
    display: flex;
    align-self: flex-end;
}
.cartProdItemSeparator{
    width: 90%;
    height: 2px;
    align-self: center;
    margin: 12px 0;
    background-color: variables.$lightColor;
}
.cartResume{
    max-width: 30%;
    @include floating-box();
    flex: 1;
    padding: variables.$lateralPadding;
    align-self: stretch;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4{
        margin: 0;
    }
}
.cartResumeTotalProducts,
.cartResumeFinalAmount {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//new product
.newProductContainer{
    @include section-height();
    height: 100%;
    padding: 12px 0;
    width: 100%;
    background-color: variables.$lightColorShade;
    @include center-flex(row, space-evenly, flex-start);
}
.formTitle{
    font-size: 150%;
    margin-top: variables.$lateralPadding;
    margin-bottom: -12px;
}
.productForm{
    @include center-flex(column, center, flex-start);
    @include floating-box();
    padding: 0 variables.$lateralPadding;
    gap: 12px;
    width: 30vw;
}
.enumTitle{
    font-size: 120%;
    margin: 0 0 variables.$lateralPadding 0;
    margin-top: variables.$lateralPadding;
    font-weight: bold;
    &::first-letter{
        text-transform: uppercase;
    }
}
.fieldsContainer {
    @include center-flex(row, flex-start, flex-start);
    gap: 6px;
    flex-wrap: wrap;
    border: 2px dashed variables.$thirdColor;
    margin-top: 12px;
    max-height: 150px;
    overflow-y: auto;
    p{
        @include floating-box();
        padding: 8px;
        svg{
            // display: flex;
            justify-self: center;
        }
    }

}

//enumFields
.enumFieldsContainer {
    box-sizing: border-box;
    padding:  0 variables.$lateralPadding variables.$lateralPadding variables.$lateralPadding ;
    width: 45vw;
    @include center-flex(column, center, flex-start);
    gap: 36px;
    @include floating-box();
}
.enumFieldsList{
    @include center-flex();
    box-sizing: border-box;
    // overflow: auto;
    padding: 0 variables.$lateralPadding;
    gap: 12px;
    width: 100%;
}
.enunmFieldsInput{
    width: 70%;
}
.editSpanWarning{
    cursor: pointer;
    padding: 2px;
    margin-top: 6px;
    position: relative;
    border-radius: 5px;
    font-size: 80%;
    font-weight: bold;
    padding-left: 2px;
    background-color: rgb(126, 0, 0);
    color: variables.$lightColor;
}

.enumFieldsFields{
    box-sizing: border-box;
    padding: variables.$lateralPadding;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    gap: 24px;
    overflow: auto;
    max-height: 200px;
}

.enumField{
    @include floating-box(15px);
    transition: 0.6s all;
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 0 6px;
    flex-wrap: wrap;
    border-radius: 10px;
    width: fit-content;
    p{
        margin: 5px 0;
    }
    svg{
        font-size: 120%;
    }
}
.activeFieldToUpdate{
    // border: 1px solid lightcoral;
    background-color: variables.$secondColor;
    color: variables.$lightColor;
}

//footer

footer{
    box-sizing: border-box;
    @include center-flex(row, space-between, center);
    height: variables.$footerHeight;
    width: 100%;
    background-color: variables.$mainColor;
    padding: 0 variables.$lateralPadding;
}

//my profile
.myProfileContainer{
    @include center-flex();
    @include section-height();
    align-items: stretch;
    // gap: 16px;
    width: 100%;
}

.optionsList{
    @include center-flex(column,flex-start,flex-start);
    padding: 0 32px 0 variables.$lateralPadding;
    height: 100%;
    background-color: variables.$lightColorShade;
}//a partir de aca todas las clases debajo hasta donde indique se encuentran adentro de optionsList
.optionsListBtnContainer{
    @include center-flex(column, flex-start, flex-start);
}
.optionsListBtnUnit{
    box-sizing: border-box;
    padding: 0;
    margin: 8px 0;
    background-color: transparent;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: all 0.7s;
    &:hover{
        color: variables.$thirdColor;

    }
}
.relatedData{
    @include center-flex(column, flex-start, center);
    box-sizing: border-box;
    width: 100%;
    flex: 1;
    padding: 0 variables.$lateralPadding;
    margin-top: variables.$lateralPadding;
}
.userInfoForm{
    @include center-flex(column, flex-start, flex-start);
}

//not found
.notFoundPageContainer{
    background-color: variables.$lightColor;
    width:100%;
    box-sizing: border-box;
    padding: variables.$lateralPadding;
    @include center-flex(row, flex-start, flex-start);
    @include section-height();
    flex: 1;
    flex-wrap: wrap;
    gap: 12px;
}
.notFoundPageInfo{
    @include center-flex(column, flex-start, flex-start);
    h3{
        color: variables.$darkColor;
    }
    a{
        vertical-align: middle;
        color: variables.$secondColor;
        text-decoration: underline;
        font-weight: bold;
        transition: all 0.7s;
        &:hover{
            transform: scale(1.1);
        }
    }
}

//MEDIA QUERIES

//--------------------------------------------------------- LAPTOP
@media (max-width: variables.$md) {//1200
    .productsLayout{
        // justify-content: space-between;
        gap: 18px;
    }
    //acá ajustar los de grilla
    .productGrid{
        width: 23%;
    }

}

//--------------------------------------------------------- TABLET
@media (max-width: variables.$sm) {//900
    .searchBarContainer, .menu,
    h1, .optionsList, footer{
        padding: 0 calc(variables.$lateralPadding / 2);
    }
    .productsLayout, .notFoundPageContainer{
        padding: calc(variables.$lateralPadding / 2);
    }
    .productList {
        height: 150px;
    }
    .productInfo{
        margin-left: 8px;
        p{
            margin: 0;
        }
        p:first-of-type {
            margin: 6px 0;
        }
        p:not(:first-of-type) {
            margin: 4px 0;
        }
    }
    .editIconContainer{
        padding: 0 calc(variables.$lateralPadding / 2);
        font-size: variables.$titleFontSize;
    }
    .productGrid{
        width: 30%;
        .productImgContainer{
            height: fit-content;
            img{
                width: 100%;
                aspect-ratio: 1/1;
            }
        }
    }
}

//--------------------------------------------------------- MOBILE
@media (max-width: variables.$xs) {//600
    .productList {
        height: 100px;
    }
    .productInfo{
        margin-left: 4px;
        p{
            margin: 0;
        }
        p:first-of-type {
            font-size: variables.$responsiveTitle;
            margin: 3px 0;
        }
        p:not(:first-of-type) {
            margin: 2px 0;
        }
        p:last-of-type {
            display: none;
        }
    }
    .editIconContainer{
        padding: 0 calc(variables.$lateralPadding / 4);
        font-size: calc(variables.$titleFontSize / 1.2);
    }
    .productGrid{
        width: 45%;
    }
}


@media (max-width: 210px){
    .productsLayout{
        justify-content: center;
    }
    .productGrid{
        width: 90%;
    }
}
//revisar si agregar alguna media query más para mayor a lg