$mainColor: hsl(11, 84%, 7%);//#230903
$secondColor: hsl(203, 30%, 26%);//#2F4858
$thirdColor: hsl(29, 100%, 50%);//#FF7D00
$lightColor: hsl(46, 15%, 83%);//#DAD7CD
$darkColor: hsl(0, 0%, 12%);//#1f1f1f


$cancelColor: hsl(0, 100%, 77%);
$cancelColorDark: hsl(0, 75%, 48%);
$cancelColorOpacity: hsla(0, 100%, 77%, 0.468);


$thirdColorOpacity: #ff7b0062;
$darkColorOpacity: #1f1f1f95;
$lightColorShade: #f4f3f2;
$secondColorShade: hsl(203.41, 75%, 35%);
$secondColorShadeDark: hsl(203.41, 45%, 25%);
$coverBackground: hsl(0, 5%, 60%);

$navBarHeight: 125px;
// $navBarHeight: 162px;
$footerHeight: 32px;
$fullHeight: calc(100vh - ($navBarHeight));
// $fullHeight: calc(100vh - ($navBarHeight + $footerHeight));//opcional, desactivado por ahora, temporal, ver si queda mejor la opcion actualmente activa

//utilities
$lateralPadding:24px;
$imgWidth: 500px;

//fonts
$titleFontSize: 2rem;
$responsiveTitle: 1.5rem;
$subtitleFontSize: 1rem;
// $normalTextSize: 100%;

//media query
$xs: 600px;
$sm: 900px;
$md: 1200px;
$lg: 1536px;


//exports
:export {
    mainColor: $mainColor;
    secondColor: $secondColor;
    secondColorShade: $secondColorShade;
    thirdColor: $thirdColor;
    lightColor: $lightColor;
    darkColor: $darkColor;
    navbarHeight: $navBarHeight;
    bp_xs: $xs;
    bp_sm: $sm;
    bp_md: $md;
    bp_lg: $lg;
}