$mainColor: #230903;
$secondColor: #2F4858;
$thirdColor: #FF7D00;
$lightColor: #DAD7CD;
$darkColor: #1f1f1f;

$thirdColorOpacity: #ff7b0062;
$lightColorShade: #f4f3f2;

$navBarHeight: 120px;
$footerHeight: 32px;
$fullHeight: calc(100vh - ($navBarHeight + $footerHeight));

$lateralPadding:24px;

$imgWidth: 500px;


:export {
    navbarHeight: $navBarHeight;    
}